.obstacles {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.obstacle {
  position: absolute;
  background-color: green;
}

.obstacle--cactus-small {
  width: 45px;
  height: 70px;
}

.obstacle--cactus-medium {
  width: 65px;
  height: 90px;
}

.obstacle--cactus-large {
  width: 80px;
  height: 110px;
}

.obstacle--rock {
  width: 90px;
  height: 70px;
  background-color: gray;
}