

.player {
    position: absolute;
    left: 0;
    bottom: 42px;
    width: 70px;
    height: 120px;
}


.head {
    position: absolute;
    z-index: 5;
    width: 54px;
    height: 54px;
    left: 13px;
    top: 30px;
    background: url("../images/grassHopperHead.png") center/contain no-repeat;
}


.head::before {
    position: absolute;
    top: 10px;
    right: 3px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

.body {
    position: absolute;
    z-index: 4;

    width: 28px;
    height: 34px;

    left: 26px;
    top: 70px;

    background: url("../images/grassHopperTorso.png") center/contain no-repeat;
}

.arm {
    position: absolute;
    z-index: 3;

    width: 20px;
    height: 10px;

    top: 28px;

    background-size: contain;
    background-repeat: no-repeat;
}

.arm.left {

    width: 22px;
    height: 18px;

    left: 8px;
    top: 72px;

    background: url("../images/grassHopperLeftArm.png") center/contain no-repeat;

    transform-origin: 95% 30%;
    transform: rotate(18deg);
}

.arm.right {

    width: 22px;
    height: 18px;

    left: 49px;
    top: 72px;

    background: url("../images/grassHopperRightArm.png") center/contain no-repeat;

    transform-origin: 5% 30%;
    transform: rotate(-18deg);
}

.leg {

    position: absolute;
    z-index: 3;

    width: 18px;
    height: 22px;

    top: 50px;

    background-size: contain;
    background-repeat: no-repeat;

    transform-origin: 50% 0%;
}


.leg.left {

    width: 20px;
    height: 30px;

    left: 24px;
    top: 94px;

    background: url("../images/grassHopperLeftLeg.png") center/contain no-repeat;

    transform-origin: 50% 0%;
    transform: rotate(12deg);
}

.leg.right {

    width: 20px;
    height: 30px;

    left: 36px;
    top: 94px;

    background: url("../images/grassHopperRightLeg.png") center/contain no-repeat;

    transform-origin: 50% 0%;
    transform: rotate(-12deg);
}



.player.running .arm.left {
    animation: left-arm-run 0.3s infinite alternate;
}

.player.running .arm.right {
    animation: right-arm-run 0.3s infinite alternate;
}

.player.running .leg.left {
    animation: left-leg-run 0.3s infinite alternate;
}

.player.running .leg.right {
    animation: right-leg-run 0.3s infinite alternate;
}

.player.idle .head {
    animation: idle 1s infinite alternate;
}

.player.damage {
    animation: player-flash 1s ease;
}


@keyframes left-arm-run {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(-15deg);
    }
}

@keyframes right-arm-run {
    from {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(15deg);
    }
}

@keyframes left-leg-run {
    from {
        transform: rotate(20deg);
    }

    to {
        transform: rotate(-15deg);
    }
}

@keyframes right-leg-run {
    from {
        transform: rotate(-20deg);
    }

    to {
        transform: rotate(15deg);
    }
}


@keyframes idle {
    from {
        top: 30px;
    }

    to {
        top: 35px;
    }
}

@keyframes player-flash {
    0% {
        filter: brightness(1);
    }

    20% {
        filter: brightness(4.2);
    }

    40% {
        filter: brightness(2.2);
    }

    50% {
        filter: brightness(4.2);
    }

    60% {
        filter: brightness(2.2);
    }

    70% {
        filter: brightness(4.2);
    }

    80% {
        filter: brightness(2.2);
    }

    90% {
        filter: brightness(4.2);
    }

    100% {
        filter: brightness(1);
    }
}